<div class="cards-wrapper">
    <mat-card class="card">
        <mat-card-content>
            <mat-icon color="primary">local_shipping</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="title-wrapper">
                <mat-card-title>{{constants.SUPPLIERS}}</mat-card-title>
                <mat-card-subtitle>{{constants.COUNT}}{{suppliers.length}}</mat-card-subtitle>
                <a mat-button routerLink="/suppliers">{{constants.SUPPLIERS}}</a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content>
            <mat-icon color="primary">inventory</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="title-wrapper">
                <mat-card-title>{{constants.ORDERS}}</mat-card-title>
                <mat-card-subtitle>{{constants.COUNT}}{{orders.length}}</mat-card-subtitle>
                <a mat-button routerLink="/orders">{{constants.ORDERS}}</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="isEmptyStateVisible()" class="empty-state-container">
    <h1>{{constants.NO_STORES_ADDED}}</h1>
    <mat-divider></mat-divider>
    <div class="mat-icon-wrapper">
        <mat-icon color="primary">store</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <button mat-button (click)="addStore()">
        <mat-icon>add_business</mat-icon>    {{constants.ADD_STORE}}
    </button>
</div>
<div *ngIf="isStoreCardContainerVisible()" class="stores-cards-container">
    <div class="add-store-button-container">
        <button mat-button (click)="addStore()">
            <mat-icon>add_business</mat-icon>    {{constants.ADD_STORE}}
        </button>
    </div>
    <mat-divider style="margin-bottom: 20px;"></mat-divider>
    <div class="store-cards-wrapper">
        <button class="card" mat-button *ngFor="let store of userStores" (click)="goToStorePage(store)">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{store.name}}</mat-card-title>
                    <mat-card-subtitle>{{getStoreTypeString(store.type)}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </button>
    </div>
</div>