<div class="background"></div>
<div class="title"><p>{{constants.APP_NAME}}</p></div>
<mat-divider class="separator"></mat-divider>
<div class="content-wrapper">
    <div class="image-card-wrapper">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{constants.APP_NAME}}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/cash-register.jpg">
            <mat-card-content>
              <p>{{constants.APP_DESCRIPTION}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="cards">
        <div class="info-row">
            <div class="card-wrapper">
                <div class="mat-icon-wrapper" fxLayout="row" fxLayoutAlign="center"><mat-icon fxFlexAlign="center">store</mat-icon></div>
                <p>{{constants.INFO_TEXT_1}}</p>
            </div>
            <div class="card-wrapper">
                <div class="mat-icon-wrapper" fxLayout="row" fxLayoutAlign="center"><mat-icon fxFlexAlign="center">inventory</mat-icon></div>
                <p>{{constants.INFO_TEXT_2}}</p>
            </div>
            <div class="card-wrapper">
                <div class="mat-icon-wrapper" fxLayout="row" fxLayoutAlign="center"><mat-icon fxFlexAlign="center">point_of_sale</mat-icon></div>
                <p>{{constants.INFO_TEXT_3}}</p>
            </div>
        </div>
        <mat-divider class="separator"></mat-divider>
        <div class="info-row">
            <div class="card-wrapper">
                <div class="mat-icon-wrapper" fxLayout="row" fxLayoutAlign="center"><mat-icon fxFlexAlign="center">local_shipping</mat-icon></div>
                <p>{{constants.INFO_TEXT_4}}</p>
            </div>
            <div class="card-wrapper">
                <div class="mat-icon-wrapper" fxLayout="row" fxLayoutAlign="center"><mat-icon fxFlexAlign="center">mood</mat-icon></div>
                <p>{{constants.INFO_TEXT_5}}</p>
            </div>
        </div>
    </div>
</div>
<div class="empty-space"></div>
