<div class="form-wrapper">
    <h1>{{constants.LOGIN}}</h1>
    <mat-divider style="margin-bottom: 10px;"></mat-divider>
    <form [formGroup]="form">
        <div class="field">
            <mat-form-field appearance="outline">
                <mat-label>{{constants.EMAIL}}</mat-label>
                <input matInput formControlName="email">
                <mat-error
                    *ngIf="
                        form.controls['email'].hasError('email') &&
                        !form.controls['email'].hasError('required')
                    "
                >
                {{ constants.INVALID_EMAIL }}
                </mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('required')">
                    {{constants.FIELD_REQUIRED}}
                </mat-error>
            </mat-form-field>
            <mat-icon class="fields-icon" color="primary">mail</mat-icon>
        </div>
        <div class="field">
            <mat-form-field style="width: 200px;" appearance="outline">
                <mat-label>{{constants.PASSWORD}}</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password">
                <mat-error
                    *ngIf="form.controls['password'].hasError('required')"
                >
                    {{ constants.FIELD_REQUIRED }}
                </mat-error>
                <div matSuffix class="suffix-wrapper">
                    <mat-icon class="btn" (click)="togglePasswordVisibility()" color="primary">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
                </div>
            </mat-form-field>
            <mat-icon class="fields-icon" color="primary">password</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="button-wrapper">
            <a routerLink="/forgot-password">{{constants.FORGOTTEN_PASSWORD}}</a>
            <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="login()">{{constants.LOGIN}}</button>
        </div>
    </form>    
</div>