.spinner-wrapper {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    mat-spinner {
        position: sticky;
        top: 40%;
        left: 48%;
    }
}